name: build exe

permissions:
  contents: write

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build-exe:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          architecture: "x64"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv sync

      - name: Build exe with PyInstaller
        run: |
          uv run pyinstaller WechatOpenDevTools.spec --clean

      - name: Make zip artifact
        run: |
          Compress-Archive -Path dist\* -DestinationPath dist\WeChatOpenDevTools-Windows.zip

      - name: Upload exe artifact
        uses: actions/upload-artifact@v4
        with:
          name: WeChatOpenDevTools
          path: dist\WeChatOpenDevTools-Windows.zip

      - name: Upload release
        uses: ncipollo/release-action@v1.20.0
        with:
          allowUpdates: true
          removeArtifacts: true
          name: "WeChatOpenDevTools"
          tag: "v${{ github.run_number }}"
          artifacts: "dist/WeChatOpenDevTools-Windows.zip"
